@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;

  background-color: var(--color-bg);
  color: var(--color-text);
}
a {text-decoration: none;}
li {list-style: none;}

#root {
  @apply w-full max-w-screen-2xl;
}

:root {
  --color-bg: white;
  --color-text: black;
  --color-input: white;
  --color-button: #fafafa;
  --color-border: #c7c7c7;
}

html.dark {
  --color-bg: #242323;
  --color-text: white;
  --color-input: #151515;
  --color-button: #333333;
  --color-border: #505050;
}